:host {
  display: block;
  font-family: var(--font-code);
  height: 100%;
  // width: 100%;
  overflow: hidden;
  // text-align: left;
  font-size: 14px;
}
#editor-container {
  height: 100%;
}
.cm-editor {
  height: 100%;
}
.cm-editor .cm-scroller {
  font-family: inherit;
}
