@import 'modern-normalize/modern-normalize.css';
@import '@fontsource-variable/inconsolata';
@import 'material-icons/iconfont/material-icons.css';

:root {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
}

.splash-container {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-title {
  vertical-align: middle;
  font-size: 1.2em;
  margin-right: 10px;
}
.icon-demo {
  font-size: 1.5em;
  margin-right: 5px;
}
.icon-success {
  color: #4caf50;
}
